body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

/* стилизация заголовков для элементов */
p[name="name_sea"] {
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
}

p[name="size_sez"] {
    color: #555;
    font-style: italic;
}

p[name="description"] {
    color: #666;
}
